.gift-cards-bg{
    background-image: linear-gradient(to bottom, rgba(69, 69, 71, 0.641), rgba(64, 64, 64, 0.344)), url('../../images/banners/giftcards.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}