.light-orange{
    background-color: rgba(246, 231, 203, 0.592);
}

.light-blue{
    background-color: #e5eff6;
}

.light-pink{
    background-color: #fde0f4;
}

.light-green{
    background-color: rgb(230, 251, 230);
}